<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patient List</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="bower_components/jsgrid/dist/jsgrid.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="icon" type="image/x-icon" href="./icons/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="sidebar-mini">
    <div class="container-scroller">

        <!-- Top Nav -->
        <nav class="navbar navbar-light col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-left navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini" href="#">
                    <i class="fa fa-female"></i>
                </a>
                <a class="navbar-brand brand-logo" href="/">
                    <i class="fa fa-female"></i>PregAssist</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-self-stretch align-items-center">
                <!-- <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                              <span class="navbar-toggler-icon"></span>
                            </button> -->
                <ul class="navbar-nav ml-lg-auto">
                    <!-- Google translate dropdown -->
                    <div id="google_translate_element"></div>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <div class="row row-offcanvas row-offcanvas-right">

                <!-- Side Nav-->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="patient_registration">
                                <i class="fa fa-plus"></i>
                                <span class="menu-title">New Patient</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="patient_list">
                                <i class="fa fa-address-book-o"></i>
                                <span class="menu-title">
                                    <b>Patient List</b>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="vaccination_list">
                                <i class="fas fa-syringe"></i>
                                <span class="menu-title">Vaccination List</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="diet_plan">
                                <i class="fas fa-utensils"></i>
                                <span class="menu-title">Diet Plan</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="asha_list">
                                <i class="fa fa-address-book-o"></i>
                                <span class="menu-title">Asha worker List</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="records_upload">
                                <i class="fa fa-arrow-up"></i>
                                <span class="menu-title">Upload&nbsp;</br> Patient Records</span>
                            </a>
                        </li>

                    </ul>
                </nav>

                <!-- DataTable for Patient List -->
                <div class="content-wrapper">
                    <h3 class="page-title">Patient List</h3>
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table center-aligned-table" id="table_id">
                                            <thead>
                                                <tr class="text-primary">
                                                    <th>Patient Id</th>
                                                    <th>Patient Name</th>
                                                    <th>Contact No.</th>
                                                    <th>Address</th>
                                                    <th>Date of Coceiving</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < patients.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= i + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= patients[i].name %>
                                                        </td>
                                                        <td>
                                                            <%= patients[i].contact %>
                                                        </td>
                                                        <td>
                                                            <%= patients[i].address %>
                                                        </td>
                                                        <td>
                                                            <%= patients[i].doc %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                            <a href="#">Illuminati</a> &copy; 2018
                        </span>
                    </div>
                </footer>
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/sidebar-icon.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <!-- Contains the Javascript for Patient list DataTable -->
    <script src="js/patient_list.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        /////////////////////////////////////////////////////////////////////////////////////////
        ////////////////// For initializing the google translate dropdown////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>

</body>

</html>`